<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:insert="header-link :: header-link"></head>
<body>
<!--navbar-->
<div th:replace="secondary-navbar :: secondary-navbar"></div>

<!-- Header-->
<div th:replace="secondary-header :: secondary-header"></div>

<section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                <i class="bi bi-envelope"></i></div>
            <h2 class="fw-bolder" th:text="${'Hello ' + username}">Hello</h2>
            <p class="lead mb-0"
               th:text="${'You are logged in as - ' + roles}">There</p>
        </div>

    </div>
</section>

<!--for admin only-->
<section  class="text-bg-light py-5"
         sec:authorize="hasRole('ROLE_ADMIN')">
    <div class="d-flex justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8 col-xl-8 ">
            <div class="list-group">

                <a th:href="@{/displayMessage}"
                   class="list-group-item list-group-item-action active display-5 fw-bolder">
                    View All Messages</a>
            </div>

        </div>
    </div>
</section>

<!-- Footer-->
<div th:replace="footer :: footer"></div>

</body>
