<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="header-link :: header-link"></head>
<body>
<!--navbar-->
<div th:replace="secondary-navbar :: secondary-navbar"></div>

<!-- Header-->
<div th:replace="secondary-header :: secondary-header"></div>

<section class="bg-light py-5 min-vh-100">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h3 class="display-1 fw-bolder text-danger">Oops.......</h3>
            <h3 class="display-4 fw-bolder pt-1 text-danger">Look like you're
                lost</h3>
        </div>
        <div class="text-center mt-5">
            <p class="lead fw-bolder text-danger"
               th:text="${'Error Message - ' + errorMessage}">Oops...</p>
            <a th:href="@{/}" class="link text-dark">Go to Home</a>
        </div>

    </div>
</section>

<!-- Footer-->
<div th:replace="footer :: footer"></div>

</body>
